<div class="container" *ngIf="outlet.isActivated == false">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <app-list (chosenId)="selectItem($event)"></app-list>
            
            <app-detail [person]="chosenItem" (hiredPerson)="selectItem($event)"></app-detail>

            <app-hired-cv [person]="chosenItem"></app-hired-cv>
        </div> <!-- end col-sm-10 -->
    </div> <!-- end row -->
    <div class="space-200"></div>
</div>

<router-outlet #outlet="outlet"></router-outlet>