/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css);
@import "assets/css/bootstrap.css";
@import "assets/css/rotating-card.css";

@import url('./assets/css/shards-dashboards.css');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body{
    margin-top: 100px;
}
.navbar-default .navbar-nav > li > a{
    padding: 15px 15px;
    margin: 5px 0;
}

.navbar-default{
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.95);
    border-color: transparent;
    box-shadow: 0 0px 13px rgba(0,0,0,.2);
}
.btn-info,
.btn-info:hover,
.btn-info:focus{
    color: #FFF !important;
    background-color: #00bbff !important;
    border-color: #00bbff !important;
}

.btn-info{
    opacity: .8;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.btn-info:hover,
.btn-info:focus{
    opacity: 1;
}